<body>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Password</th>
        <th>IP</th>
        <th>Register Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data; let i = index">
        <td>{{item.name}}</td>
        <td>{{item.email}}</td>
        <td>{{item.phone_number}}</td>
        <td>{{item.password}}</td>
        <td>{{item.ip}}</td>
        <td>{{item.register_date}}</td>
      </tr>
    </tbody>
  </table>
</body>